html {
  /* colors */
  --primary: #362d6b;
  --secondary: darkslategray;
  --background: #faf5c4;
  --border: black;
  --light-border: #cccccc;
  --selected: gold;
  --error: red;
  --font-color: black;
}

* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background);
  padding: 20px;
}

#root,
.app {
  height: 100%;
}

.app {
  text-align: center;
}

.app-header {
  font-size: 30px;
  font-weight: 600;
  padding: 25px;
  color: var(--primary);
}

.source {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: medium;
  font-weight: 600;
  color: var(--primary);
}

.loading-icon,
.sr-only {
  position: absolute;
  top: 45%;
  left: 50%;
}

.error,
.error-hint {
  font-weight: 600;
  color: var(--error);
}

.error {
  padding: 20px;
  font-size: 20px;
}

.error-hint {
  font-size: 12px;
}

form {
  margin: 0 auto;
  padding: 30px;
  min-width: 240px;
  max-width: 350px;
  max-height: calc(
    100% - 90px - 50px
  ); /* minus height of app-header and source */
  overflow: auto;
  background-color: var(--primary);
}

label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  margin-bottom: 4px;
  color: white;
}

label.has-error {
  margin-bottom: 4px;
}

.currency-option {
  display: flex;
  align-items: center;
}

.currency-flag {
  margin: 0 4px;
  border: 1px solid var(--light-border);
}

.react-select-container {
  width: 100%;
  font-size: 14px;
}

input {
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid var(--secondary);
  border-radius: 2px;
}

.react-select-container input[type="text"] {
  height: 20px;
  font-size: 12px !important;
}

input[type="text"]:hover {
  border-color: var(--border);
}

input[type="text"]:focus {
  border: 2px solid var(--selected);
  border-radius: 4px;
  padding: 4px 8px;
}

.result {
  margin-top: 20px;
}

.result input {
  background-color: var(--background);
  color: var(--font-color);
}

input[type="submit"] {
  width: 100%;
  height: 35px;
  margin: 15px auto;
  font-family: inherit;
  font-weight: 600;
}

.switch-currency {
  margin-bottom: -6px;
}

.button {
  padding: 4px 6px;
  background-color: gold;
  color: var(--font-color);
  font-size: medium;
  border: 2px solid var(--border);
  border-radius: 4px;
  outline: none;
}

.button:hover {
  background-color: #ffc107;
}

.button:disabled {
  cursor: not-allowed;
  background-color: gold;
  opacity: 0.75;
}

label.has-error input[type="text"] {
  border-color: var(--error);
}

@media only screen and (max-width: 1024px) {
  .app-header {
    padding: 15px 0;
    font-size: 20px;
  }
  form {
    max-height: calc(100% - 100px);
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    padding: 10px;
  }
  form {
    width: 100%;
    max-height: calc(100% - 100px);
  }
  input[type="submit"] {
    margin: 8px auto;
  }
  .result {
    margin-top: 15px;
  }
  .source {
    padding-bottom: 8px;
    font-size: small;
    text-align: left;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    padding: 10px;
  }
  .app-header {
    padding: 5px 0 15px;
  }
  form {
    padding: 15px 20px;
    width: 100%;
    max-height: calc(100% - 80px);
  }
}
