.app {
  padding: 20px;
  text-align: center;
}
.app-header {
  font-size: xx-large;
}
.loading-icon, .sr-only {
	position: absolute;
	top: 45%;
	left: 50%;
}
.currency {
  display: flex;
  align-items: center;
}
.currency-flag {
  margin: 0 10px;
}
