.app {
  padding: 20px;
  text-align: center;
}
.app-header {
  font-size: xx-large;
}
.loading-icon, .sr-only {
	position: absolute;
	top: 45%;
	left: 50%;
}
.currency {
  display: flex;
  align-items: center;
}
.currency-flag {
  margin: 0 6px;
}
.error {
  padding: 20px;
  font-size: 20px;
}

.has-error {
  border: 1px solid red;
}

.react-select-container {
  width: 200px;
}

input {
  outline: none;
  border-width: 1px;
  width: 180px;
  padding: 6px 12px;
}

input {
  height: 26px;
}

input[type="submit"] {
  width: 100px;
  height: 26px;
}
